@use "../../../scss/" as *;

.info {
  @include flex(flex-start, space-between);
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  padding: 0;
  h4 {
    padding-top: 1.5rem;
    font-size: 1.6rem;
    color: $title-color;
  }
  .upper_part {
    .marquee_wrapper {
      width: 456px;
      overflow: hidden;
      position: relative;
      .marquee_inner {
        display: inline-flex;
        &.marquee {
          animation: marquee 8s linear infinite;
        }
        h1 {
          display: inline-block;
          white-space: nowrap;
          width: fit-content;
          font-size: 4rem;
          color: $title-color;
          font-weight: 400;
          letter-spacing: 0.08em;
          margin-right: 6rem;
        }
      }
    }
  }
  .section {
    @include flex(flex-start, space-between);
    width: 100%;
    height: 100%;
    .right_section,
    .left_section {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      height: auto;
    }
    .right_section {
      padding-right: 1.8rem;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
