@use "../../scss/" as *;

.detail_page {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -4;
  overflow: hidden;
  @include flex(center, center);
  background-color: black;
  .background_img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center top;
    z-index: inherit;
    &::after {
      position: absolute;
      inset: 0;
      z-index: -3;
      content: "";
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5)
      );
    }
  }
  .detail_body {
    @include detail_convert {
      display: none;
    }
    width: 1000px;
    height: auto;
    @include flex(flex-start, flex-start);
    position: relative;
    z-index: -3;
    top: 15px;
    left: 0;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    .movie_poster {
      width: auto;
      height: 100%;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px 0 0 5px;
        display: block;
      }
      .poster_fallback {
        width: 500px;
        height: 750px;
        @include flex(center, center);
        font-size: 2.5rem;
      }
    }
    .detail_font {
      max-width: 50%;
      height: 100%;
      padding: 0.8rem 1.8rem;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      .overview {
        padding: 0 10px;
        margin-top: 2rem;
        overflow-y: auto;
        max-height: 280px;
        font-size: 1.15rem;
        &::-webkit-scrollbar {
          width: 5px;
          background-color: rgba(0, 0, 0, 0.554);
          border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(134, 134, 134, 0.753);
          border-radius: 2px;
        }
      }
    }
  }
}
