$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$title-color: #00fc75;

$Mobile-menu-bg: #e4e2e2ec;

$white: #ffffff;
$black: #000;

$mobile-width: 768px; // hamburger Menu, HomePage FlipCard
$search_convert: 500px;
$detail_convert: 1024px;

$font-family: "Noto Serif TC", "Montserrat", sans-serif;
